body{
    background:url(https://wallpaperaccess.com/full/1750690.jpg);
    border-color: black;
    border-style: groove;
   
 
}
section{
  background-position: center; 
  border-image-repeat: repeat;
 
  }
button {color: transparent;
}

h1{
  font-family: fantasy;
  text-align: left;
  direction: rtl;
  text-decoration: dotted;
}

/* Dropdown Button */
.dropbtn {
background-color: transparent;
color: transparent;
padding: 16px;
font-size: 32px;
border: none;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: transparent;
min-width: 160px;


}

/* Links inside the dropdown */
.dropdown-content a {
color: transparent;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent;}
fieldset{
border: none
};
